.Chat
  .Chat-main__group-info
    .Chat-leftbox
      .Chat-test__member   
        = @group.name 
      .Chat-test__myname 
        menber : 
        .Chat-test__myname__mine 
        - @group.group_users.each do |group_user|
          = group_user.user.name
    .Chat-edit
      = link_to "#", class: "btn" do
        Edit

  .Chat-main__message-list
    = render @messages

  .Chat-main__message-form
    = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
      .Form__coment
        = f.text_field :content, class: 'form-text', placeholder: 'type a message'
        = f.label :image, class: 'gallery' do
          = icon('fas', 'image', class: 'Form__icon')
          = f.file_field :image, class: 'Hidden'
      = f.submit 'Send', class: 'submit'

      -#   %input.form{name:  "title", :size => "40",placeholder:"type a message"}
      -#   %label.gallery{ class: "input-box__image"}
      -#     = icon('fas', 'image')
      -#     %input{type: "file", class: "hidden" }
      -# .Form__send
      -#   %input{type:  "submit", value: "send", class:"submit"}