.Side
  .Side__head
    .Side__box   
      .Side__name
        = current_user.name
      .Side__icon 
        = link_to new_group_path,class: "Contents__btn--icon"do
          = icon('far','edit', class: 'pen')
          %span<>
        = link_to"#",class: "Contents__btn--icon"do
          = link_to edit_user_path(current_user)do
            = icon('fa','cogs', class: 'gear')
          %span<>
  .Side__main 
    - current_user.groups.each do |group|
      .Group
        = link_to group_messages_path(group) do
          .Group__name
            = group.name
          .Group__message
            = group.show_last_message
